*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/compiler.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/deviceManager.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.kotlin/errors/errors-1757422388171.log
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
